body{
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(blue, green);
    min-height: 100vh;
}

/*Nav-bar*/

.Container{
    width: 90%;
    margin:0 auto;
}

header{
    background: linear-gradient(to right, rgb(150, 15, 15), rgb(247, 0, 0),rgb(150, 15, 15));
}

header::after{
    content:'';
    display: table;
    clear:both;
}

.LOGO
{
    color:black;
    float: left;
    margin:0;
    font-size: 40px;
    background-color: aqua;
    text-decoration: none;
}

nav{
    display: flex;
    background-color: white;
    width: 13%;

}
nav ul{
    display: flex;
    margin-top: 0px;
    padding:0;    
    list-style: none;
    margin: 0 auto;
}

nav li{
    margin-left:10px;
    position:relative;
    float:left;
}


nav a
{
    color:black;
    /* text-shadow: 1px 0px 2px black; */
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
nav a:hover
{
    color: #f80303;
    font-size: 16px;
}

nav a::before{
    content:'';
    display: block;
    height:5px;
    background-color: #444;
    position: absolute;
    top:0;
    width: 0%;
    transition: all ease-in-out 220ms;
}

nav a:hover::before{
    width:100%;
}