body{
    margin:0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh; 
    background: url("https://media.istockphoto.com/id/1280649926/video/abstract-soft-shiny-background-business-motion-graphics-abstract-simple-beatiful-motion.jpg?s=640x640&k=20&c=JvWt3KjeQlt5jD_Q-PZeBdcRJORHtgLKSM-RfPtaYpM=");
    background-size: cover;
}
#aboutimg{
    background-image: url("https://media.licdn.com/dms/image/D5622AQEFNyNaroGFwg/feedshare-shrink_2048_1536/0/1706973999989?e=2147483647&v=beta&t=TurfheGqEVaxFPoqic0b_6pyznCLCk5a7NGBIIeE9kg");
    background-size: cover;
}

/*Nav-bar*/

.navbar{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin:0 auto;
    background: url(https://media4.giphy.com/media/NbhtAcpwFlHuRRLcYX/200.gif?cid=6c09b9520zfmdu9bpn802a3dwpult7ps46v7i288luy6smyr&ep=v1_internal_gif_by_id&rid=200.gif&ct=s) no-repeat center;
    background-size: 30%;
}

header{
    background-color: rgba(53, 29, 29, 0.1);
}

header::after{
    content:'';
    display: table;
    clear:both;
}

.LOGO
{
    float: left;
    margin:0;
    font-size: 40px;
    text-decoration: none;
    color:black;
    text-shadow: rgb(80, 75, 78) -3px -2px 6px;
}
.LOGO_C{
    color:rgba(13, 84, 143,0.6);
text-shadow: -3px -2px 6px (80, 75, 78);
}

.Search_form{
    display:flex;
    align-items: center;
    width: 22%;
}

.Search_input
{
    text-align: center;
    color:black;
    font-weight: bold;
    background-color: rgba(133, 133, 133, 0.5);
    border: none;
    border-radius: 0 40% 40% 0;
    height: 45%;
    width: 70%;
    padding:0;
    outline: none;
}
.Search_button
{
    font-weight: bold;
    height:40%;
    width:20%;
    padding:0;
    border: none;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
}

nav{
    display: flex;
    justify-content: end;
}
nav .navbar_ul{
    display: flex;
    margin:0;
    list-style: none;
    padding: 0px; /*navbar left padding bug */

}

nav .navbar_li{
    display: flex;
    padding-top: 9%;
    position:relative;
}

nav .navbar_li:not(:last-child){
    margin-right:30px;
}


nav a
{
    color:black;
    /* text-shadow: 1px 0px 2px black; */
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
nav a:hover
{

    font-size: 16px;
}

nav a::before{
    content:'';
    display: block;
    height:5px;
    background-color: #444;
    position: absolute;
    top:0;
    width: 0%;
    transition: all ease-in-out 220ms;
}

nav a:hover::before{
    width:100%;
}


.asphalt_black
{
    height: 3px;
    width: 100%;
    background-color: black;
    opacity: 20%;
}
#asphalt_white{
    height: 1px;
    width: 100%;
    background: repeating-linear-gradient(to right, black, black 10px, white 10px, white 20px);
    opacity: 20%;
}

li{
    list-style: none;
}

/*Car section*/

.allcars_section
{
    display: flex;
    flex-wrap: wrap;
    margin:3% 5%;
    justify-content: center;
    height: 90%;
    width: 90%;
    border: 5px solid black;
}

.car_box{
    margin:5% 10px;
    width: 40%;
    background:rgba(74, 110, 139, 0.918);
    border:3px solid black;
    border-radius: 10px;
    margin-left: 3%;
    position: relative;
}
/* .car_box:hover{
    transform: scale(1.1);
    transition: all 0.5s;
} */

.car_infobox
{
    size: 80%;
    margin:0px;
}

.anunt
{
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-weight:550;
    margin:0px;
    height: 12%;
    
}

.car_img
{
    width:260px;
    height: 200px;
    border-radius: 10%;
    border:2px solid gray;
    margin: 0px 10px;
    object-fit: cover;
    
}
.car_info_ul
{
    padding-left:2px;
    
}
.car_info_li{
    text-decoration: none;
    color:black
}
.car_box h2
{
    margin: 5px;
    text-align: center;
}

.a_carbox{
    text-decoration: none;
}

/* test zone */
.car_popup{
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:red;
    z-index: 1000;
}
.car_layout{
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:rgba(0,0,0, .5);
    z-index: 999;
    width: 100%;
    height: 100%;
}

.hidden{
    display: none;
}
/*  */

.car_box_title
{
    text-decoration: none;
    color:black;
    border-bottom: none;
}

.car_price{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color:rgb(25, 170, 102);
    font-size: 40px;
    margin:0px;
    
}


/* Login page */

#body-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255 ,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
}

.wrapper.active{
    height: 520px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.form-box h2{
    font-size: 2em;
    text-align: center;
}

.input-box{
    position:relative;
    width: 100%;
    border-bottom: 2px solid #162938;
    margin:30px 0;
}

.input-box label{
    position: absolute;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    font-size:1em;
    color:#162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    font-size: 1em;
    color:#162938;
    font-weight:600;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px;
}

.input-box input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
}

.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor:pointer;
    font-size:1em;
    color: #FFF;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color:#162938;
    text-align: center;
    font-weight: 500;
    margin:25px 0 10px;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

.wrapper .form-box.login
{
   transition: transform .18s ease;
   transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px)
}

.form__message--error {
    font-size: .8em;
    color:red;
    text-align: center;
    font-weight: bold;
}

/* Register page */

.wrapper .form-box.register
{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register
{
   transition: transform .18s ease;
   transform: translateX(0);
}


/* testzone */
#big_carbox{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#inside_bigbox{
    background: transparent;
    border: solid 4px black;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200%;
}

.carbox a{
    text-decoration: none;
    color: black;
}
